# Виртуальные окружения
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Папки кэша приложения
analysis_cache/
user_photos/ # Если эта папка для временных файлов и не должна быть в репо

# Базы данных SQLite (если вы не хотите ее коммитить)
*.db
*.sqlite3

# Файлы IDE
.vscode/
.idea/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы python-dotenv
.env # Очень важно не коммитить .env с реальными ключами!
     # .env.example можно и нужно коммитить