# Виртуальное окружение
venv/

# Файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Конфиденциальные данные
.env

# База данных
*.db
*.db-journal

# Пользовательские файлы
user_photos/

# Логи
*.log

# Другие файлы
.DS_Store
Thumbs.db