# Виртуальное окружение
venv/
env/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Переменные окружения
.env

# База данных SQLite
*.db
*.sqlite
*.sqlite3

# Папка с загруженными фотографиями
user_photos/

# Логи
*.log

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json