python-telegram-bot==20.3
python-dotenv==1.0.0
requests==2.31.0
Pillow # Позволит pip выбрать последнюю стабильную версию, подходящую для Linux на Render
fastapi==0.103.1
uvicorn==0.23.2
aiohttp # Позволит pip выбрать совместимую версию
python-multipart
google-generativeai==0.3.1